*{box-sizing: border-box}

body {
  background-color: #FFE8E5;
}

body header img {
  width: auto;
  margin: 1px;
  float: left;
}

body header h1 {
  align: left;
  width: 30%;
  padding: 5px;
  margin-top: 30px;
  margin-left: 150px;
  font-family: "Nova Flat";
  font-size: 4em;
}

div {
  width: auto;
  margin-top: 145px; 
  margin-left; 1px;
}

nav a:link, a:visited {
  float: left;
  display: block;
  align: left;
  width: 200px;
  font-family: Coda;
  font-weight: bold;
  color: black;
  font-size: 2em;
  background-color: #FFE8ES;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

article {
  clear: left;
  width: 90%;
  padding: 1em;
  background-color: #CC3C55; 
}

article h2 {
  float: left;
  width: 20%;
  padding: 1em;
  margin-left: 2px;
  margin-top; 1em;
  font-family: "Nova Flat";
  color: #FFE8E5;
  font-size: 2em;
}
article p {
  float: right;
  width: 30%;
  padding: 1em;
  margin-top: 1em;
  font-family: Coda;
  font-style: italic;
  color: #FFE8E5;
  font-size: 2em;
}

  
article img {
  width: 720px;
  padding: 5px;
  border: 2px solid #64FFD8;
}

section {
  width: 90%;
  padding: 1em;
  border: 1px solid #CC3C55;
  margin-left: 1px;
  background-color: #64FFD8;
}

section h3 {
  font-family: "Nova Flat";
}
=======
  
  
  
  
  
>>>>>>> master
